* {
    font-family: Arial, Helvetica, sans-serif
}
html {
    background-image: url("../models/assets/login-background.png"), radial-gradient(farthest-corner at center center, maroon 0%, black 100%);;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: 100%;
}

h1{
    text-align: center;
}


a{
    display: block;
    text-align: center;
    font-size: 15px;
    color: darkblue;
}

fieldset{
    position: fixed; top: 50%; left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);;
    padding: 30px;
    border-radius: 30px;
    width: 300px;
    background-color: bisque
}


input {
    border: none;
    border-bottom: 2px solid maroon;
    width: 100%;
    background-color: bisque;
    margin-bottom: 10%;
}


label {
    position: relative;
    left: 80px;
    bottom: 9px;
}

button {
    width: 90px;
    height: 40px;
    border-radius: 20px;
    border: none;
    color: #ccc;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    background-color: maroon;
}


button[type=submit] {
    margin-left: calc(50% - 90px);
}
#error_info{
    text-align: center;
    margin-top: -30px;
    font-size: small;
}
#hidden {
    display: none;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    border-radius: 30px;
    background-color: bisque;
    height: 200px;
}

button[type=submit]:hover {
    background-color: darkgreen;
}

button[type=reset] {
    margin-right: auto;
    /* margin-right: 10px; */
}

button[type=reset]:hover {
    background-color: red;
}